body {
  margin: 0;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Press Start 2P", cursive;
  color: white;
  text-align: center;
}

h1 {
  color: #ffa500;
  text-shadow: 2px 2px #000;
}

#game-container {
  position: relative;
  width: 1024px;
  height: 576px;
}

canvas {
  background-color: #5c94fc;
  border: 5px solid white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  display: block;
}

#score-board,
#lives-board {
  position: absolute;
  top: 20px;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px #000;
}

#score-board {
  left: 20px;
}

#lives-board {
  right: 20px;
}

#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
}

#startBtn,
#restartBtn {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  padding: 20px 40px;
  color: white;
  border: 4px solid white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px #666;
  transition: all 0.1s ease-in-out;
}

#startBtn {
  background-color: #4caf50;
}
#restartBtn {
  background-color: #f44336;
}

#startBtn:hover,
#restartBtn:hover {
  opacity: 0.9;
}

#startBtn:active,
#restartBtn:active {
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
